html {
    scroll-behavior: smooth;
}

body {
    background-color: #dedce0;
    font-family: 'Varela Round', Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

/* main navbar */
ul#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #dedce0;
    overflow: hidden;
}
#navbar li {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}

/* text/link on navbar */
#navbar li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 10px 10px;
    margin: 6px 4px;
    border-radius: 5px;
    color: #000000;
    font-weight: bold;
}
#navbar li div.vertical-line {
    border: 1px solid #000000;
    border-radius: 10px;
    height: 30px;
    margin: 10px 0;
}
#navbar li a:hover {
    background-color: #c0c0c0;
    box-shadow: #c0c0c0 0px 0px 4px;
}

/* navbar title (left side) */
#navbar li.title, #navbar li.title a {
    float: left;
    padding-left: 0;
}
/* canceling effect */
#navbar li.title a:hover {
    background-color: #dedce0;
    box-shadow: 0px 0px 0px;
}

/* navbar logo */
#navbar li#logo img {
    height: 38px;
    padding: 4px 0 4px 14px;
}
#navbar li#logo a {
    margin: 0px;
    padding: 0px;
}

/* most right button on navbar */
#navbar li.button a {
    background-color: #282424;
    color: #fff;
    margin-right: 14px;
}
#navbar li.button a:hover {
    background-color: #787474;
    box-shadow: #000000 0px 0px 2px;
}

/* content */
div.content {
    padding: 58px 12% 0px 12%;
}
div.content h1 {
    padding: 5% 0 10px 0;
    margin: 0;
}
div.content p {
    margin: 0;
    line-height: 24px;
}
div.content .main-content h1 {
    font-size: 42px;
}
div.content .main-content p {
    font-size: 18px;
}
div.content .main-content .quotation {
    margin-top: 5%;
    padding: 0 8px;
    font-style: italic;
    text-align: justify;
}
div.content img {
    overflow: auto;
    width: 30%;
    max-width: 320px;
    top: 0;
    float: left;
    margin-right: 30px;
    border-radius: 8px;
}

/* about section */
div.content p.about {
    text-align: justify;
    width: 45%;
    float: left;
    margin-right: 10%;
    margin-top: 8px;
}

/* tags */
div.content div.tags {
    width: 45%;
    float: right;
}
div.tags b {
    font-size: 14px;
    display: inline-block;
    padding: 8px;
    margin: 8px;
    border: 2px solid black;
    border-radius: 4px;
}

/* Content Section 1 */
#section1 {
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: #c0c0c0;
}
/* Education */
#section1 div.education table {
    width: 95%;
    padding: 0 15px;
    text-align: left;
}
#section1 iframe {
    padding: 5px;
    width: 45%;
    float: left;
    border-radius: 15px;
}
/* Content Section 2 */
#section2 {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #282424;
    color: #fff;
    height: 600px;
}
#section2 .contact-box {
    margin-top: 10px;
    float: left;
}
#section2 a {
    text-decoration: none;
    color: #fff;
}
#section2 h2 {
    margin-left: 30px;
    letter-spacing: 2px;
}
#section2 .contact img {
    width: 30px;
    margin-right: 10px;
}
#section2 .contact {
    width: fit-content;
    transition: 200ms;
    margin-bottom: 30px;
}
#section2 .contact:hover {
    transform: scale(1.1);
}
#section2 .qr-code img {
    width: 250px;
    margin: 20px 0 0 200px;
    transition: 500ms;
}
#section2 .qr-code img:hover {
    transform: scale(1.2);
}

/* clear float */
.clear {
    clear: left;
}